API_SUBSCRIPTION_KEY=<SUBSCRIPTION_KEY_USED_TO_CALL_PAYMENT_UPDATER>
PRODUCER_BASE_URL=https://io-d-reminder-producer.azurewebsites.net
PU_BASE_URL=https://api-app.internal.io.pagopa.it
TEST_LOGIN_FISCAL_CODES=EEEEEE00E00E000A,EEEEEE00E00E000B,EEEEEE00E00E000C
APIM_PUBLIC_URL=https://api.io.pagopa.it
SERVICE_SUBSCRIPTION_KEY=<SEND_MESSAGE_SERVICE_SUBSCRIPTION_KEY>
rate=1
duration=2m
preAllocatedVUs=1
maxVUs=2